# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Виртуальные окружения
.venv/
venv/
env/

# Базы данных
*.db
*.sqlite3

# Секреты и токены
.env
credentials/
token_drive.json

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/
*.cursor/

# Скриншоты и документация
screenshots/
README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore
